.header {
    grid-area: h;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(33, 160, 33);
  }
  
  .header img {
    padding-top: 5px;
    width:60px;
  }